@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "_null";

body {
	margin: 10px;
}

.text_original {
	font-size: 15px;
	line-height: 20px;

	p {
		margin: 0 0 20px 0;
	}
}

.text {
	font-family: 'PT Sans', sans-serif;
	font-size: 15px;
	line-height: 20px;
	font-weight: 700;

	p {
		margin: 0 0 20px 0;
	}
}